<%- include('../partials/header'); -%>

<body>
  <main>
    <section class="homeHolder">
      <h1><%= title %></h1>

      <div class="bonHolder">
        <div class="bon">
          <div class="bonImage">
          </div>
          <div class="bonInner">
          <h3><%= brood %> brood</h3>
          <input type="number" name="hoeveelheidBrood" placeholder="1" value="1">
            </div>
            <span>&#8364;1.45</span>
        </div>

        <div class="bon">
          <div class="bonImage">
          </div>
          <div class="bonInner">
          <h3><%= zoet %> zoet</h3>
          <input type="number" name="hoeveelheidBrood" placeholder="1" value="1">
            </div>
            <span>&#8364;1.45</span>
        </div>

        <div class="bon">
          <div class="bonImage">
          </div>
          <div class="bonInner">
          <h3><%= brood %> brood</h3>
          <input type="number" name="hoeveelheidBrood" placeholder="1" value="1">
            </div>
            <span>&#8364;1.45</span>
        </div>



      </div>
      <!-- <div class="homeHolderIframePusher">
      </div> -->
      <iframe src="https://maps.google.com/maps?q=albert%20heijn%20amsterdam&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </section>
  </main>
</body>

</html>
